source https://api.nuget.org/v3/index.json

nuget FParsec
nuget Giraffe
nuget Microsoft.AspNetCore.All
nuget System.Reactive
nuget Newtonsoft.Json
nuget System.Runtime
nuget FSharp.Core
nuget xunit 
nuget xUnit.runner.console
nuget xunit.runner.visualstudio
nuget System.Reflection.Metadata
nuget FSharp.Data.TypeProviders
nuget Microsoft.NET.Test.Sdk
nuget BenchmarkDotNet

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE
  nuget Fake.DotNet.Cli
  nuget Fake.IO.FileSystem
  nuget Fake.Core.Target
  nuget Fake.Tools.Git
  nuget Fake.DotNet.AssemblyInfoFile
  nuget Fake.Core.ReleaseNotes
  nuget Fake.Core.UserInput
  nuget Fake.DotNet.MSBuild
  nuget Fake.DotNet.Fsc
  nuget Fake.Api.GitHub
  nuget Fake.DotNet.Paket
  nuget Octokit
