source https://api.nuget.org/v3/index.json

nuget NuGet.CommandLine

group SourceCode
  source https://api.nuget.org/v3/index.json
  frameworks: net45, netcoreapp2.0, netstandard2.0

  nuget FSharp.Core 4.3.4 #https://fsharp.github.io/2015/04/18/fsharp-core-notes.html#fsharpcore-entries-in-project-files
  nuget FParsec = 1.0.3
  nuget System.Reactive = 4.1.5
  nuget NETStandard.Library.NETFramework

  github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
  github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs

group TestsAndSamples
  source https://api.nuget.org/v3/index.json
  frameworks: net47, netcoreapp2.1, netstandard2.0
  
  nuget FSharp.Core
  nuget Newtonsoft.Json
  nuget Suave
  nuget Microsoft.AspNetCore.All 2.1.6
  nuget Giraffe
  nuget Microsoft.NET.Test.Sdk
  nuget xunit 
  nuget xunit.runner.console
  nuget xunit.runner.visualstudio
  nuget BenchmarkDotNet
  nuget FSharp.Data.TypeProviders

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE
  nuget Fake.DotNet.Cli
  nuget Fake.IO.FileSystem
  nuget Fake.Core.Target
  nuget Fake.Tools.Git
  nuget Fake.DotNet.AssemblyInfoFile
  nuget Fake.Core.ReleaseNotes
  nuget Fake.Core.UserInput
  nuget Fake.DotNet.MSBuild
  nuget Fake.DotNet.Fsc
  nuget Fake.Api.GitHub
  nuget Fake.DotNet.Paket
  nuget Octokit